<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark py-4" style="background-color: #6d40c7;">
    <div class="container">
        <a class="navbar-brand" href="https://www.youthopia.co/"><img src="assets\img\YTP LOGO-07.png"
                width="170px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.youthopia.co/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.youthopia.co/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.youthopia.co/contact-us">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://app.youthopia.co/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://app.youthopia.co/register">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- content 1 -->
<div class="main-container" style="padding: 16px 0px">
    <div class="double-items">
        <div class="one-double">
            <p class="text-title" style="font-family: t04b; color: #ca6702">FUN TIME WITH YOUTHOPIA!</p>
            <p class="text-subtitle" style="font-family: fipps; color: #0a9396">WE TEACH LIFE SKILLS THAT FUTURE-PROOF
                YOUR CHILD!</p>
            <p style="font-family: retron;">Schools do a decent job of preparing your child
                academically. However, she needs more than straight A’s to
                succeed in the future. Our unique, engaging classes and
                camps help sharpen your child’s life skills. Help them think
                critically, solve problems creatively and communicate
                effectively.</p>
            <a class="btn btn-success" style="background-color :#9b2226; border-color: #9b2226; pointer-events: none;">
                SIGN UP FOR SOME FUN!</a>
        </div>
        <div>
            <iframe class="video-container" width="560" height="315" src="https://www.youtube.com/embed/mxB-QK7FYm4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- content 2 -->
<div class="main-container" style="padding: 32px 0px;">
    <div class="scrollmenu" style="text-align: center;">

        <div class="card-1" style="vertical-align: top;">
            <div class="card-body" style="text-align: start;">
                <div>
                    <h5 class="card-title"></h5>
                    <p class="card-text" style="font-family: upheavel; font-size: 18px; color: #175467">Father of 12
                        year old</p>
                    <p class="card-text" style="font-family: retron; font-size: 14px; color: #28a0a3;">“My daughter
                        enjoyed the 3 days
                        session and
                        helped in building her self confidence. We are
                        looking forward for the next session.”</p>
                    <div>
                        <p class="pad-space-testimonial-0">
                    </div>
                    <p class="card-text" style="font-family: upheavel; font-size: 18px; color: #ca6702">Razique R.</p>
                </div>
            </div>
        </div>

        <div class="card-1" style="vertical-align: top;">
            <div class="card-body" style="text-align: start;">
                <div>
                    <h5 class="card-title"></h5>
                    <p class="card-text" style="font-family: upheavel; font-size: 18px; color: #175467">Mother of 11
                        year old</p>
                    <p class="card-text" style="font-family: retron; font-size: 14px; color: #28a0a3;">“Overall a good
                        session and my
                        daughter enjoys
                        it ☺”</p>
                    <div>
                        <p class="pad-space-testimonial-1">
                    </div>
                    <p class="card-text" style="font-family: upheavel; font-size: 18px; color: #ca6702;">Rajeswari B.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- content 3 -->

<!-- content 4 -->
<div class="main-container">
    <div class="text-center" style="align-content: center;">
        <p class="text-subtitle" style="font-family: fipps; color: #ee9b00;">UNLOCK YOUR TRUE POTENTIAL</p>
        <p class="text-subtitle" style="font-family: minecraft; color: #ca6702;">We have broken down the key skills
            that
            is necessary to thrive in this new age using
            different methods of
            learning.</p>
        <p class="text-subtitle" style="font-family: minecraft; color: #ca6702;">Choose a session you would like to
            sign
            up for:</p>
    </div>
    <div *ngIf="!desktop_view" style="text-align: center">
        <button mat-fab type="button" (click)="scrollLeft()" style="margin: 10px;"><mat-icon>arrow_back_ios</mat-icon></button>
        <button mat-fab type="button" (click)="scrollRight()" style="margin: 10px;"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
    <div class="scrollmenu" #container style="text-align: center;">

        <div class="card" style="padding-bottom: 5px; vertical-align: top;">
            <div style="text-align: center; background-color: #def6e5; padding: 15px;">
                <img class="card-img-top class-img" src="assets\img\logo\Knowledge-bro.png" alt="img">
            </div>
            <div class="card-body">
                <div>
                    <h5 class="card-title"></h5>
                    <p class="card-text" style="font-family: fipps; font-size: 15px; color: #9b2226;">21, 28 AUG & 4
                        SEPT
                        2021</p>
                    <p class="card-text" style="font-family: upheavel; font-size: 20px">FUTURE READY STUDY TECHNIQUES
                    </p>
                    <p class="card-text" style="font-family: retron;">10am - 11.30pm</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">a 3-week consecutive course for 1.5
                        hours to 2 hours
                        suitable for students aged 12 years old to 13 years old, maximum 8 per class. This course gives
                        students
                        <strong>tools to become a better student</strong>. It helps students become
                        <strong> independent to motivate </strong>themselves as
                        well as assess whether their student plan
                        suits their lifestyle and personality.
                    </p>
                    <p class="card-text" style="font-family: retron; color: #129699">Ages: 12 - 14 year olds</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Duration: 2 hrs per session</p>
                    <p class="card-text" style="font-family: retron; color: #e69210">Taught by: Ms Saranya</p>
                </div>
                <a href="https://form.jotform.com/212202074173442" class="btn btn-success class-button"
                    style="background-color :#9b2226; border-color: #9b2226;"> Sign
                    Up</a>
            </div>
        </div>

        <div class="card" style="padding-bottom: 5px; vertical-align: top;">
            <div style="text-align: center; background-color: #d8cded; padding: 15px;">
                <img class="card-img-top class-img" src="assets\img\logo\Portfolio Update-bro.png" alt="img">
            </div>
            <div class="card-body">
                <div>
                    <h5 class="card-title"></h5>
                    <p class="card-text" style="font-family: fipps; font-size: 15px; color: #9b2226;">21 & 22 AUG 2021
                    </p>
                    <p class="card-text" style="font-family: upheavel; font-size: 20px">GODIGITALCLUB PRESENTS CANVA
                        FOR KIDS</p>
                    <p class="card-text" style="font-family: retron;">10am - 12pm</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">The 4 hours Online crash course is
                        focused on:-</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">&#9658; Introduction to different
                        type of images</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">&#9658; Learn about Icons and
                        shapes to design</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">&#9658; Presentation/Poster Design
                        samples</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">&#9658; Making simple videos using
                        Canva</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Ages: 10 - 16 year olds</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Duration: 2 hrs per session</p>
                    <p class="card-text" style="font-family: retron; color: #e69210">Taught by: GoDigitalClub</p>
                </div>
                <a href="https://form.jotform.com/clubgodigital/canvaforkids" class="btn btn-success class-button"
                    style="background-color :#9b2226; border-color: #9b2226;"> Sign
                    Up</a>
            </div>
        </div>

        <div class="card" style="padding-bottom: 5px; vertical-align: top;">
            <div style="text-align: center; background-color: #def6e5; padding: 15px;">
                <img class="card-img-top class-img" src="assets\img\logo\Code typing-bro.png" alt="img">
            </div>
            <div class="card-body">
                <div>
                    <h5 class="card-title"></h5>
                    <p class="card-text" style="font-family: fipps; font-size: 15px; color: #9b2226;">21 & 22 AUG 2021
                    </p>
                    <p class="card-text" style="font-family: upheavel; font-size: 20px">SCRATCH CODING FOR KIDS -
                        BEGINNER LEVEL</p>
                    <p class="card-text" style="font-family: retron;">3PM - 4pm</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">With Scratch, kids can program
                        their own interactive ideas which comprises stories, games, and
                        animation as well as thier creations with other kids in the community.</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">Learning coding with Scratch builds
                        kids learning process to think creatively, reason systematically, and work collaboratively which
                        are
                        essential skills for life in the 21st century.</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Ages: 7 - 9 year olds</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Duration: 1 hr per session</p>
                    <p class="card-text" style="font-family: retron; color: #e69210">Taught by: Ms Malar</p>
                </div>
                <a href="https://form.jotform.com/212198513729461" class="btn btn-success class-button"
                    style="background-color :#9b2226; border-color: #9b2226;"> Sign
                    Up</a>
            </div>
        </div>

        <div class="card" style="padding-bottom: 5px; vertical-align: top;">
            <div style="text-align: center; background-color: #d8cded; padding: 15px;">
                <img class="card-img-top class-img" src="assets\img\logo\Webinar-bro.png" alt="img">
            </div>
            <div class="card-body">
                <div>
                    <h5 class="card-title"></h5>
                    <p class="card-text" style="font-family: fipps; font-size: 15px; color: #9b2226;">21, 22, 28 & 29
                        AUG 2021</p>
                    <p class="card-text" style="font-family: upheavel; font-size: 20px">GODIGITALCLUB AND YOUTHOPIA
                        PRESENTS
                        VIDEO EDITING FOR KIDS</p>
                    <!--<p class="card-text" style="font-family: upheavel; font-size: 20px; color: #175467;"><u>SHOOT |
                            EDIT | PUBLISH YOUR VIDEO PROFESSIONALLY!</u></p>-->
                    <p class="card-text" style="font-family: retron;">2pm - 5pm</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">This online masterclass is focused
                        on:</p>
                    <p><strong class="card-text" style="font-family: retron; color: #9b2226">- Professional video
                            shooting techniques using smartphone</strong></p>
                    <p><strong class="card-text" style="font-family: retron; color: #9b2226">- Step by step video
                            editing tutorials</strong></p>
                    <p><strong class="card-text" style="font-family: retron; color: #9b2226;">- Youtube channel setup
                            and monetization secrets</strong></p>
                    <p class="card-text" style="font-family: retron; color: #129699">Ages: 10 - 16 year olds</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Duration: 3 hrs per session</p>
                    <p class="card-text" style="font-family: retron; color: #e69210">Taught by: GoDigitalClub</p>
                </div>
                <a href="https://form.jotform.com/clubgodigital/VideoforkidsS2" class="btn btn-success class-button"
                    style="background-color :#9b2226; border-color: #9b2226;"> Sign
                    Up</a>
            </div>
        </div>

        <div class="card" style="padding-bottom: 5px; vertical-align: top;">
            <div style="text-align: center; background-color: #def6e5; padding: 15px;">
                <img class="card-img-top class-img" src="assets\img\logo\Knowledge-bro.png" alt="img">
            </div>
            <div class="card-body">
                <div>
                    <h5 class="card-title"></h5>
                    <p class="card-text" style="font-family: fipps; font-size: 15px; color: #9b2226;">21, 22, 28 or 29
                        AUG 2021</p>
                    <p class="card-text" style="font-family: upheavel; font-size: 20px">GET INSPIRED & SPARK CREATIVITY
                        WITH AUNTY NADIA</p>
                    <p class="card-text" style="font-family: retron;">11am - 11.45pm / 4pm - 4.45pm</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">This class inspires through
                        storytelling and
                        teaches your children basics of creative writing.</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">Lesson flow:</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">(i) Ice-breaker &
                        Introduction<br>(ii) Storytelling session<br>(iii) Group Activity - annotate & create<br>(iv)
                        Guided creative writing activity<br>(v) Recap & Farewell</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Ages: 5 - 8 year olds</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Duration: 45 min per session</p>
                    <p class="card-text" style="font-family: retron; color: #e69210">Taught by: Ms Nadia</p>
                </div>
                <a href="https://form.jotform.com/212200342956447" class="btn btn-success class-button"
                    style="background-color :#9b2226; border-color: #9b2226;"> Sign
                    Up</a>
            </div>
        </div>

        <div class="card" style="padding-bottom: 5px; vertical-align: top;">
            <div style="text-align: center; background-color: #d8cded; padding: 15px;">
                <img class="card-img-top class-img" src="assets\img\logo\Source code-bro.png" alt="img">
            </div>
            <div class="card-body">
                <div>
                    <h5 class="card-title"></h5>
                    <p class="card-text" style="font-family: fipps; font-size: 15px; color: #9b2226;">28 & 29 AUG 2021
                    </p>
                    <p class="card-text" style="font-family: upheavel; font-size: 20px">SCRATCH CODING FOR KIDS -
                        INTERMEDIATE LEVEL</p>
                    <p class="card-text" style="font-family: retron;">3pm - 4pm</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226"><strong>Make Music with
                            Scratch</strong></p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">Students will be able to create
                        their own music by choosing the instruments, adding sounds, and play music in Scratch.</p>
                    <p class="card-text" style="font-family: retron; color: #9b2226"><strong>Animate a character in
                            Scratch</strong></p>
                    <p class="card-text" style="font-family: retron; color: #9b2226">Students will be able to create and
                        bring their own imaginative character to life with animation in Scratch</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Ages: 10 - 11 year olds</p>
                    <p class="card-text" style="font-family: retron; color: #129699">Duration: 1 hr per session</p>
                    <p class="card-text" style="font-family: retron; color: #e69210">Taught by: Ms Malar</p>
                </div>
                <a href="https://form.jotform.com/212200150436437" class="btn btn-success class-button"
                    style="background-color :#9b2226; border-color: #9b2226;"> Sign
                    Up</a>
            </div>
        </div>

    </div>
    <div *ngIf="desktop_view" style="text-align: center">
        <button mat-fab type="button" (click)="scrollLeft()" style="margin: 10px;"><mat-icon>arrow_back_ios</mat-icon></button>
        <button mat-fab type="button" (click)="scrollRight()" style="margin: 10px;"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
</div>


<!-- content 5 -->
<div class="p-4" style="background-color: #f3fcf5;">
    <div class="main-container text-center">
        <p class="text-subtitle" style="font-family: fipps; color: #ee9b00;">WE BELIEVE THAT EVERYONE HAS
            POTENTIAL</p>
        <p class="text-subtitle" style="font-family: minecraft; color: #ca6702;">And all you need is some help
            unleashing the potential within. Studies from
            leading institutions like Oxford University and Deloitte Consulting have indicated the growing
            importance of
            life skills.
            These skills will allow your child to adapt to the fast-changing environment.</p>
    </div>
    <div class="multi-items">
        <img src="assets\img\feature\Group 3359@2x.png" width="770px" alt="img">
        <img src="assets\img\feature\Group 3360@2x.png" width="770px" alt="img">
        <img src="assets\img\feature\Group 3361@2x.png" width="770px" alt="img">
    </div>
    <div class="multi-items" style="padding: 25px;">
        <img src="assets\img\feature\Group 3358@2x.png" width="770px" alt="img">
        <img src="assets\img\feature\Group 3357@2x.png" width="770px" alt="img">
    </div>
</div>


<!-- content 6 -->
<div class="main-container text-center">
    <p style="font-family: fipps; color: #ee9b00; font-size: 26px;">“PLAY IS OUR BRAIN’S FAVOURITE WAY OF LEARNING”
    </p>
    <p class="text-subtitle" style="font-family: minecraft;">DIANE ACKERMAN</p>
</div>


<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #6d40c7;">
    <!-- Section: Links  -->
    <section class="d-flex justify-content-center justify-content-lg-between border-bottom">
        <div class="container text-center text-md-start mt-4">
            <!-- Grid row -->
            <div class="row mt-0">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-4">
                    <!-- Content -->
                    <img src="assets\img\YTP LOGO-05.png" width="120px">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <p>
                        <a href="https://www.youthopia.co/about-us" class="text-reset btn">About Us</a>
                    </p>
                    <p>
                        <a href="https://www.youthopia.co/contact-us" class="text-reset btn">Contact</a>
                    </p>
                    <p>
                        <a href="https://www.youthopia.co/tos/privacy-policy" class="text-reset btn">Privacy Policy</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <p>
                        <img src="assets\img\fbicon.png" width="20px" style="align-content: bottom;"> <a
                            href="https://www.facebook.com/youthopiaHQ/" class="text-reset btn"> Facebook</a>
                    </p>
                    <p>
                        <img src="assets\img\inicon.png" width="20px" style="align-content: bottom;"><a
                            href="https://www.linkedin.com/company/youthopiahq" class="text-reset btn">LinkedIn</a>
                    </p>
                    <p>
                        <img src="assets\img\igicon.png" width="20px" style="align-content: bottom;"><a
                            href="https://www.instagram.com/youthopiahq/" class="text-reset btn">Instagram</a>
                    </p>
                    <p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4">
                    <p>Stay updated with us!</p>
                    <form>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Email Address"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    style="background-color: white; color: black;">OK</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mb-md-0 mb-4">
                    <p> Found8 KL Sentral</p>
                    <p> +018 351 4459</p>
                    <p> info@youthopia.co</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
</footer>
<!-- Footer -->