/* You can add global styles to this file, and also import other style files */

  @font-face {
    font-family: minecraft;
    src: url(assets/font/Minecraft.ttf) format("opentype");
  }

  @font-face {
    font-family: dogicapixel;
    src: url(assets/font/dogicapixel.ttf) format("opentype");
  }

  @font-face {
    font-family: dogicapixel-bold;
    src: url(assets/font/dogicapixelbold.ttf) format("opentype");
  }

  @font-face {
    font-family: fipps;
    src: url(assets/font/Fipps-Regular.otf) format("opentype");
  }

  @font-face {
    font-family: upheavel;
    src: url(assets/font/UpheavalPro.ttf) format("opentype");
  }

  @font-face {
    font-family: sanspro;
    src: url(assets/font/SourceSansPro-SemiBold.ttf) format("opentype");
  }

  @font-face {
    font-family: retron;
    src: url(assets/font/Retron2000.ttf) format("opentype");
  }

  @font-face {
    font-family: t04b;
    src: url(assets/font/04B_30__.TTF) format("opentype");
  }

  